@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';
// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

// install the framework and custom global styles
@include nb-install() {
  // framework global styles
  @include nb-theme-global();

  @include app-layout();
  // loading progress bar
  @include app-pace-theme();

  @include nb-overrides();

  ::-webkit-scrollbar {
    width: nb-theme(scrollbar-width) !important;
    height: nb-theme(scrollbar-width) !important;
  }

  ::-webkit-scrollbar-thumb {
    background: nb-theme(scrollbar-color) !important;
    border-radius: calc(nb-theme(scrollbar-width) * 0.5) !important;
  }

  ::-webkit-scrollbar-track {
    background: nb-theme(scrollbar-background-color);
  }

  // Header
  .user-picture {
    background: white !important;
    border: 1px solid nb-theme(color-basic-500) !important;
  }

  .colored-background {
    background: nb-theme(background-basic-color-4) !important;
  }

  // Accordion
  .no-toggle-icon .expansion-indicator {
    display: none !important;
    // background: nb-theme(background-basic-color-4) !important;
    // border: 1px solid nb-theme(color-basic-500) !important;
  }

  @media (max-device-width: 800px) {
    .item-body {
      padding: 0 !important;
    }
  }

  // Card
  nb-card {
    //   background: nb-theme(background-basic-color-4) !important;
  }
}
