.dot-red {
  height: 1.25rem;
  width: 1.25rem;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.dot-green {
  height: 1.25rem;
  width: 1.25rem;
  background-color: darkgreen;
  border-radius: 50%;
  display: inline-block;
}

.dot-grey {
  height: 1.25rem;
  width: 1.25rem;
  background-color: lightgrey;
  border-radius: 50%;
  display: inline-block;
}

@media (max-width: 900px) {
  .max-width {
    max-width: 100% !important;
    width: 100% !important;
  }
}
